<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Css/style.css" />
</head>
<body>
    <div class="container main">
        @RenderBody()
    </div>
</body>
</html>