<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Css/style.css" />
</head>
<body>
    <div class="container">
        <h2><a href="/">Demo: Spatial Searches With SQL Geography Types</a></h2>
        <hr />
    </div>
    <div class="container main">
        @RenderBody()
    </div>

    <div class="container footer text-center">
        <hr />
    <p>@Html.ActionLink("How does this work?", "How", "About")</p>
        <p>Postal codes provided by <a href="http://www.geonames.org" target="_blank">www.geonames.org</a>.</p>
    </div>
</body>
</html>