body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    background: #666;
}

.main {
    padding: 10px;
    border: solid 2px #333;
    background-color: #fff;
    margin-top: 30px;
}

input {
    margin: 0px !important;
}