body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

input {
    margin: 0px !important;
}

.footer {
    margin-top: 20px;
}

.input-postal-code {
    width: 200px;
}

.search-form select {
    width: 130px;
}

.search-form {
    margin-top: 20px;
}

.results {
    margin-top: 20px;
}

h3 {
    margin-top: 20px;
}