<div>

    <form method="post" action="/Place/List">
        <p>
            <input id="PostalCode" name="PostalCode" type="text" maxlength="5" value="@Model.PostalCode" />
            <input type="submit" value="Search" class="btn" />
        </p>
        <p>
            Search within @Html.DropDownList("MaxDistance", (IEnumerable<SelectListItem>)@Model.MaxDistances) miles
        </p>
    </form>
</div>