@if (!Model.NeedsInitialization)
{
    <h3>@Model.SearchFormTitle</h3>
    <div class="search-form">

        <form method="post" action="/Place/List">
            <p>
                <input id="PostalCode" name="PostalCode" type="text" maxlength="5" value="@Model.PostalCode" class="input-postal-code" />
                <input type="submit" value="Search" class="btn" />
            </p>
            <p>
                Search within @Html.DropDownList("MaxDistance", (IEnumerable<SelectListItem>)@Model.MaxDistances) miles
            </p>
        </form>
    </div>

    <p>@Html.ActionLink("How does this work?", "How", "About")</p>
}